
.pageLogo {
  width: fit-content;
  margin: auto;
  padding-top: 32vh;
}

.musicStars {
  height: 0;

  .musicStar {
    width: fit-content;
    position: absolute;
    .musicStarImage {
      width: 55px;
    }

    .progressBar {
      display: inline-block;
      width: 120px;

      .progressMarker {
        z-index: 0;
        width: 0;
        height: 0;
        border-radius: 50%;
        border: 10px solid white;
        position: relative;
        top: -9.75px;
        left: -9px
      }
      .progress {
        z-index: 1;
        width: 100%;
        height: 0px;
        transition: width linear;
        border: 4px solid white;
        border-radius: 4px;
        position: relative;
        top: -2px;
      }
      .title {
        top: 10px;
        position: relative;
      }
    }
  }

  .musicStar1 {
    top: 20vh;
    left: 10vw;
  }

  .musicStar2 {
    top: 14vh;
    left: 30vw;
  }
}