$shadowColor: #dbdbdb;
$smallSpacing: .8px;
$bigSpacing: 2px;
$spacingTransition: letter-spacing .4s linear;

.navbar {
  transition: color 1s;
  color: white;
  gap: 65px;
  z-index: 1;
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  text-align: center;

  .shadow {
    transition: $spacingTransition, color 1s;
    color: $shadowColor;
  }

  .smallNav {
    cursor: pointer;
    font-size: 30px;
    line-height: 130px;
    height: 130px;
    width: 212px;

    &:hover .shadow {
      letter-spacing: $smallSpacing;
    }

    .active {
      letter-spacing: $smallSpacing;
    }

    .text {
      top: -100%;
      position: relative;
    }
  }

  .bigNav {
    cursor: pointer;
    font-size: 94px;
    height: 118px;
    width: 435px;

    &:hover .shadow {
      letter-spacing: $bigSpacing;
    }

    .active {
      letter-spacing: $bigSpacing;
    }

    .text {
      top: -118px;
      position: relative;
    }
  }
}

@media (max-width: 1000px) {
  .navbar {
    gap: 4vw;
    .smallNav {
      font-size: 3vw;
      line-height: 12vw;
      height: 12vw;
      width: 22vw;
    }

    .bigNav {
      font-size: 9vw;
      height: 12vh;
      width: 42vw;

      &:hover .shadow {
        letter-spacing: .2vw;
      }

      .active {
        letter-spacing: .2vw;
      }

      .text {
        top: -11.3vw;
      }
    }
  }
}

@media (max-width: 800px) {
  .navbar {
    gap: 0vw;
    .bigNav {
      height: 0;
    }
    .smallNav {
      font-size: 3.75vw;
      line-height: 12vw;
      width: 28vw;

      &:hover .shadow {
        letter-spacing: .1vw;
      }

      .active {
        letter-spacing: .1vw;
      }
    }
  }
}