
.production {
  width: 100vw;
  height: 100vh;
  display: inline-block;
  background-color: black;
  vertical-align: top;
  background-size: 100%;
  color: white;

  .whiteStarBackground {
    width: 100%;
    height: 100%;
    background-image: url("images/whiteBackgroundStars.png"), url("images/whiteConst.png");
    opacity: 0;
    transition: opacity 2s linear;

  }
  .showStars {
    opacity: 1;
  }
}


.pageLogo {
  width: fit-content;
  margin: auto;
  padding-top: 32vh;
}

.musicStars {
  height: 0;

  .musicStar {
    width: fit-content;
    position: absolute;
    .musicStarImage {
      width: 55px;
    }
    .progressBar {
      width: 150px;
      .progressPotential {
        border: 4px solid gray;
        border-radius: 4px;
        position: relative;
        width: 100%
      }

      .progress {
        transition: width linear;
        border: 4px solid #f3f1f5;
        border-radius: 4px;
        width: 1%;
        position: relative;
        top: -8px;
      }
    }
  }

}

.musicStarWhite1 {
  top: 20vh;
  left: 10vw;
}

.musicStarWhite2 {
  top: 14vh;
  left: 72vw;
}

.musicStarWhite3 {
  top: 42vh;
  left: 24vw;
}

.musicStarWhite4 {
  top: 74vh;
  left: 73vw;
}

.musicStarWhite5 {
  top: 31vh;
  left: 84vw;
}

.musicStarWhite6 {
  top: 79vh;
  left: 9vw;
}

.musicStarWhite7 {
  top: 46vh;
  left: 70vw;
}

.musicStarWhite8 {
  top: 70vh;
  left: 37vw
}

.musicStarWhite9 {
  top: 19vh;
  left: 43vw;
}

.musicStarBlack1 {
  top: 20vh;
  left: 210vw;
}

.musicStarBlack2 {
  top: 14vh;
  left: 272vw;
}

.musicStarBlack3 {
  top: 42vh;
  left: 224vw;
}

.musicStarBlack4 {
  top: 74vh;
  left: 273vw;
}

.musicStarBlack5 {
  top: 31vh;
  left: 284vw;
}

.musicStarBlack6 {
  top: 79vh;
  left: 209vw;
}

.musicStarBlack7 {
  top: 46vh;
  left: 270vw;
}

.musicStarBlack8 {
  top: 70vh;
  left: 237vw
}

.musicStarBlack9 {
  top: 19vh;
  left: 243vw;
}