
//StarPage Styles Shared

.starPage {
  width: 100vw;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
  background-size: 100%;
  .starBackground {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    opacity: 0;
    transition: opacity 2s linear;

    .parallaxBackground {
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: center;
      .pageLogo {
        width: fit-content;
        margin: auto;
        display: flex;
        height: 100%;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
  .showStars {
    opacity: 1;
  }
}

//Production Styles

.production {
  background-color: black;
  color: white;

  .starBackground {
    background-image: url("images/whiteConst.png"), radial-gradient(circle, #2E3143 0%, black 65%);

    .parallaxBackground {
      background-image: url("images/whiteBackgroundStars.png");

      .logo {
        width: 230px; //logo size
      }

      .progressMarker {
        border: 10px solid white;
      }

      .progress {
        border: 4px solid white;
      }
    }
  }
}

.musicStarWhite1 {
  top: 41vh;
  left: 7vw;
}

.musicStarWhite2 {
  top: 16vh;
  left: 55vw;
}

.musicStarWhite3 {
  top: 51vh;
  left: 29vw;
}

.musicStarWhite4 {
  top: 76vh;
  left: 78vw;
}

.musicStarWhite5 {
  top: 32vh;
  left: 76vw;
}

.musicStarWhite6 {
  top: 75vh;
  left: 22vw;
}

.musicStarWhite7 {
  top: 44vh;
  left: 61vw;
}

.musicStarWhite8 {
  top: 83vh;
  left: 53vw;
}

.musicStarWhite9 {
  top: 22vh;
  left: 24vw;
}
.musicStarWhite10 {
  top: 60vh;
  left: 10vw;
}




//Composition Styles

.composition {
  background-color: white;
  color: black;

  .starBackground {
    background-image: url("images/blackConst.png"), radial-gradient(circle, #B5BADC 0%, white 65%);

    .parallaxBackground {
      background-image: url("images/blackBackgroundStars.png");

      .logo {
        width: 240px; //logo size
      }

      .progressMarker {
        border: 10px solid black;
      }

      .progress {
        border: 4px solid black;
      }
    }
  }
}


.musicStarBlack1 {
  top: 20vh;
  left: 214vw;
}

.musicStarBlack2 {
  top: 14vh;
  left: 289vw;
}

.musicStarBlack3 {
  top: 48vh;
  left: 218vw;
}

.musicStarBlack4 {
  top: 79vh;
  left: 263vw;
}

.musicStarBlack5 {
  top: 52vh;
  left: 281vw;
}

.musicStarBlack6 {
  top: 84vh;
  left: 214vw;
}

.musicStarBlack7 {
  top: 46vh;
  left: 263vw;
}

.musicStarBlack8 {
  top: 65vh;
  left: 256vw;
}

.musicStarBlack9 {
  top: 27vh;
  left: 235vw;
}

.musicStarBlack10 {
  top: 19vh;
  left: 265vw;
}

.musicStarBlack11 {
  top: 90vh;
  left: 274vw;
}

.musicStarBlack12 {
  top: 57vh;
  left: 203vw;
}

.musicStarBlack13 {
  top: 65vh;
  left: 227vw;
}

//mid size star positions
@media (max-width: 1250px) {
  .musicStarWhite1 {
    top: 40vh;
    left: 10vw;
  }
  .musicStarWhite2 {
    top: 16vh;
    left: 55vw;
  }
  .musicStarWhite3 {
    top: 58vh;
    left: 27vw;
  }
  .musicStarWhite4 {
    top: 70vh;
    left: 77vw;
  }
  .musicStarWhite5 {
    top: 31vh;
    left: 73vw;
  }
  .musicStarWhite6 {
    top: 77vh;
    left: 14vw;
  }
  .musicStarWhite7 {
    top: 56vh;
    left: 63vw;
  }
  .musicStarWhite8 {
    top: 83vh;
    left: 53vw;
  }
  .musicStarWhite9 {
    top: 22vh;
    left: 24vw;
  }
  .musicStarWhite10 {
    top: 73vh;
    left: 33vw;
  }

  //composition
  .musicStarBlack1 {
    top: 20vh;
    left: 220vw;
  }

  .musicStarBlack2 {
    top: 14vh;
    left: 280vw;
  }

  .musicStarBlack3 {
    top: 53vh;
    left: 223vw;
  }

  .musicStarBlack4 {
    top: 81vh;
    left: 252vw;
  }

  .musicStarBlack5 {
    top: 34vh;
    left: 280vw;
  }

  .musicStarBlack6 {
    top: 70vh;
    left: 218vw;
  }

  .musicStarBlack7 {
    top: 46vh;
    left: 269vw;
  }

  .musicStarBlack8 {
    top: 63vh;
    left: 259vw;
  }

  .musicStarBlack9 {
    top: 22vh;
    left: 240vw;
  }

  .musicStarBlack10 {
    top: 19vh;
    left: 265vw;
  }

  .musicStarBlack11 {
    top: 77vh;
    left: 272vw;
  }

  .musicStarBlack12 {
    top: 37vh;
    left: 210vw;
  }

  .musicStarBlack13 {
    top: 85vh;
    left: 236vw;
  }
}

//mobile star positions
@media (max-width: 550px) {
  .production {
    .starBackground {
      background-image: url("images/whiteConst.png"), radial-gradient(circle, #2E3143 0%, black 50vw);
      .parallaxBackground {
        .pageLogo {
          .logo {
            width: 35vw;
          }
        }
      }
    }
  }

  .composition {
    .starBackground {
      background-image: url("images/blackConst.png"), radial-gradient(circle, #B5BADC 0%, white 50vw);
      .parallaxBackground {
        .pageLogo {
          .logo {
            width: 39vw;
          }
        }
      }
    }
  }

  .musicStarWhite1 {
    top: 26vh;
    left: 8vw;
  }
  .musicStarWhite2 {
    top: 10vh;
    left: 67vw;
  }
  .musicStarWhite3 {
    top: 62vh;
    left: 28vw;
  }
  .musicStarWhite4 {
    top: 67vh;
    left: 66vw;
  }
  .musicStarWhite5 {
    top: 30vh;
    left: 62vw;
  }
  .musicStarWhite6 {
    top: 74vh;
    left: 10vw;
  }
  .musicStarWhite7 {
    top: 21vh;
    left: 48vw;
  }
  .musicStarWhite8 {
    top: 79vh;
    left: 49vw;
  }
  .musicStarWhite9 {
    top: 13vh;
    left: 20vw;
  }
  .musicStarWhite10 {
    top: 45vh;
    left: 12vw;
  }

  //composition star positions
  .musicStarBlack1 {
    top: 12vh;
    left: 205vw;
  }

  .musicStarBlack2 {
    top: 7vh;
    left: 258vw;
  }

  .musicStarBlack3 {
    top: 37vh;
    left: 206vw;
  }

  .musicStarBlack4 {
    top: 76vh;
    left: 273vw;
  }

  .musicStarBlack5 {
    top: 40vh;
    left: 273vw;
  }

  .musicStarBlack6 {
    top: 66vh;
    left: 232vw;
  }

  .musicStarBlack7 {
    top: 27vh;
    left: 262vw;
  }

  .musicStarBlack8 {
    top: 63vh;
    left: 260vw;
  }

  .musicStarBlack9 {
    top: 24vh;
    left: 218vw;
  }

  .musicStarBlack10 {
    top: 17vh;
    left: 241vw;
  }

  .musicStarBlack11 {
    top: 79vh;
    left: 246vw;
  }

  .musicStarBlack12 {
    top: 58vh;
    left: 212vw;
  }

  .musicStarBlack13 {
    top: 80vh;
    left: 207vw;
  }
}