
@font-face {
  font-family: trender;
  src: url(./Trender.ttf);
}

body {
  font-family: trender;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.app {
  width: 100vw;
  overflow-x: hidden;
}

.answer {
  transition: opacity .5s linear;
}

.home {
  background-image: linear-gradient(270deg, white 1%, #7E7F9A 55%, #090A0D 100%);

  height: 100%;
  width: 100vw;
  height: 100vh;
  display: inline-block;
  color: white;
  font-size: 26px;
  white-space: pre-wrap;
  vertical-align: top;

  .homeContainer {
    position: relative;
    top: -100vh;
  }

  .peekingStars {
    background-image: url("images/whiteBackgroundStars.png"), url("images/blackBackgroundStars.png");
    background-repeat: repeat-y;
    background-size: 100vw;
    background-position: -75vw, 75vw;
    height: 100%;
    width: 100%;
    opacity: 0.4;
  }

  .questionContainer {

    //vertical positions
    padding-top: 320px;
    padding-bottom: 55px;

    width: 15rem;
    height: 15rem;
    margin: auto;

    .whoAmI {
      width: 240px;
      padding-left: 37px;
      transition: padding-left .5s linear;
      &:hover {
        padding-left: 22px;
      }

    }
  }

  .landingStar {
    text-align: center;
    margin: auto;
    margin-top: -50px;
    width: fit-content;


    .contactInfo {
      transition: opacity .3s linear;
      position: relative;
      opacity: 0;
      top: -70px;
    }
    .homeStarContainer {
      transition: opacity .3s linear;
      width: 80px;
      height: 80px;
      margin: auto;

      .starGlow {
        background-size: 140%;
        background-position: center;
        background-image: url('images/C3B131ED.png');
        opacity: 0;
        transition: opacity .5s linear;
        width: 100%;
        height: 100%;
        position: relative;
        top: -84px;
        z-index: 1;
        &:hover {
          opacity: 1;
        }
      }


    }
    .homeStar {
      height: 80px;
      cursor: pointer;
    }
  }
}

.pages {
  transition: transform 1s;
  white-space: nowrap;
  transform: translateX(-100vw)
}

@media (max-width: 500px) {
  .home {
    .landingStar {
      margin-top: 0;
      width: auto;

      .contactInfo {
        font-size: 4vw;
      }
      .homeStarContainer {
        .starGlow {
          opacity: 1;
        }
      }
    }

    .questionContainer {

      padding-top: 25vh;
      padding-bottom: 0;
    }
  }
}

@import './starPage';
@import './navigation';
@import './muiscStars';