


@font-face {
  font-family: trender;
  src: url(./Trender.ttf);
}

body {
  font-family: trender;
  margin: 0;
}

.app {
  width: 100vw;
  overflow-x: hidden;
}

.home {
  background: linear-gradient(270.8deg, rgba(255,255,255,1) 0%, rgba(46,49,67,1) 50%, rgba(0,0,0,1) 100%);
  height: 100%;
  width: 100vw;
  height: 100vh;
  display: inline-block;
  color: white;
  font-size: 26px;
  white-space: pre-wrap;
  vertical-align: top;

  .questionContainer {
    padding-top: 350px;
    width: 15rem;
    height: 15rem;
    margin: auto;
    padding-left: 50px;
    text-align: left;
  }

  .landingStar {
    text-align: center;
    margin: auto;
    margin-top: -50px;
    width: fit-content;
    .homeStar {
      cursor: pointer;
      width: 150px;
    }
  }
}

.pages {
  transition: transform 1s;
  white-space: nowrap;
  transform: translateX(-100vw)
}

.navbar {
  transition: color 1s;
  z-index: 1;
  display: flex;
  position: absolute;
  color: white;
  gap: 65px;
  width: 100%;
  justify-content: center;
  text-align: center;

  .smallNav {
    cursor: pointer;
    font-size: 30px;
    line-height: 130px;
    height: 130px;

    width: 212px;

    .shadow {
      color: #b7b7b7;
    }

    &:hover .shadow {
      letter-spacing: .8px;
    }

    .active {
      letter-spacing: .8px;
    }

    .text {
      top: -100%;
      position: relative;
    }
  }

  .bigNav {
    cursor: pointer;
    font-size: 94px;
    height: 118px;
    width: 420px;
    .shadow {
      color: #b7b7b7;
    }

    &:hover .shadow {
      letter-spacing: 1.5px;
    }

    .active {
      letter-spacing: 1.5px;
    }

    .text {
      top: -118px;
      position: relative;
    }
  }
}

@import './production.scss';
@import './composition.scss';
