
$homeStarDesktop: 80px;
$homeStarMobile: 50px;

@font-face {
  font-family: trender;
  src: url(./Trender.ttf);
}

body {
  font-family: trender;
  width: 100%;
  height: 110%;
  margin: 0;
  background-color: black;
  position: fixed;
}

.app {
  width: 100vw;
  overflow-x: hidden;
}

.answer {
  transition: opacity .5s linear;
}

.home {
  background-image: linear-gradient(270deg, white 1%, #7E7F9A 55%, #090A0D 100%);

  height: 100%;
  width: 100vw;
  height: 100vh;
  display: inline-block;
  color: white;
  font-size: 26px;
  white-space: pre-wrap;
  vertical-align: top;

  .homeContainer {
    position: relative;
    top: -100vh;
  }

  .peekingStars {
    background-image: url("images/whiteBackgroundStars.png"), url("images/blackBackgroundStars.png");
    background-repeat: repeat-y;
    background-size: 100vw;
    background-position: -75vw, 75vw;
    height: 100%;
    width: 100%;
    opacity: 0.4;
  }

  .questionContainer {

    //vertical positions
    padding-top: 30vh;

    width: fit-content;
    margin: auto;

    .whoAmI {
      white-space: pre;
      padding-left: 37px;
      transition: padding-left .5s linear;
      &:hover {
        padding-left: 22px;
      }
    }
  }

  .landingStar {
    text-align: center;
    margin: auto;
    margin-top: 13vh;
    width: fit-content;
    height: $homeStarDesktop;


    .contactInfo {
      transition: opacity .3s linear;
      position: relative;
      opacity: 0;
      top: -93%;
    }
    .homeStarContainer {
      transition: opacity .3s linear;
      width: $homeStarDesktop;
      height: $homeStarDesktop;
      line-height: 100%;
      margin: auto;

      .starGlow {
        background-size: 140%;
        background-position: center;
        background-image: url('images/C3B131ED.png');
        opacity: 0;
        transition: opacity .5s linear;
        width: 100%;
        height: 100%;
        position: relative;
        top: -101%;
        z-index: 1;
        &:hover {
          opacity: 1;
        }
      }


    }
    .homeStar {
      height: 100%;
      cursor: pointer;
    }
  }
}

.pages {
  transition: transform 1s;
  white-space: nowrap;
  transform: translateX(-100vw)
}

@media (max-width: 500px) {
  .home {
    .landingStar {
      margin-top: 13vh;
      width: auto;
      height: $homeStarMobile;

      .contactInfo {
        font-size: 4vw;
      }
      .homeStarContainer {
        height: $homeStarMobile;
        width: $homeStarMobile;
        .starGlow {
          opacity: 1;
        }
      }
    }

    .questionContainer {
      padding-top: 25vh;
      .whoAmI {
        padding-left: 39px;
        font-size: 22px;
        &:hover {
          padding-left: 15px;
        }
      }
    }
  }
}

@import './starPage';
@import './navigation';
@import './muiscStars';