@font-face {
  font-family: trender;
  src: url(./Trender.ttf);
}

body {
  font-family: trender;
  margin: 0;
}

.app {
  width: 100vw;
  overflow-x: hidden;
}

.answer {
  -webkit-transition: opacity .5s linear;
  transition: opacity .5s linear;
}

.home {
  background: -webkit-gradient(linear, right top, left top, color-stop(1%, white), color-stop(55%, #7E7F9A), to(black));
  background: linear-gradient(270deg, white 1%, #7E7F9A 55%, black 100%);
  height: 100%;
  width: 100vw;
  height: 100vh;
  display: inline-block;
  color: white;
  font-size: 26px;
  white-space: pre-wrap;
  vertical-align: top;
}

.home .questionContainer {
  padding-top: 320px;
  padding-bottom: 55px;
  width: 15rem;
  height: 15rem;
  margin: auto;
}

.home .questionContainer .whoAmI {
  width: 240px;
  padding-left: 37px;
  -webkit-transition: padding-left .5s linear;
  transition: padding-left .5s linear;
}

.home .questionContainer .whoAmI:hover {
  padding-left: 22px;
}

.home .landingStar {
  text-align: center;
  margin: auto;
  margin-top: -50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.home .landingStar .contactInfo {
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
  position: relative;
  opacity: 0;
  top: -70px;
}

.home .landingStar .homeStarContainer {
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
  width: 80px;
  height: 80px;
  margin: auto;
}

.home .landingStar .homeStarContainer .starGlow {
  background-size: 140%;
  background-position: center;
  background-image: url("images/C3B131ED.png");
  opacity: 0;
  -webkit-transition: opacity .5s linear;
  transition: opacity .5s linear;
  width: 100%;
  height: 100%;
  position: relative;
  top: -84px;
  z-index: 1;
}

.home .landingStar .homeStarContainer .starGlow:hover {
  opacity: 1;
}

.home .landingStar .homeStar {
  height: 80px;
  cursor: pointer;
}

.pages {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  white-space: nowrap;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

@media (max-width: 400px) {
  .home .landingStar {
    margin-top: 0;
    width: auto;
  }
  .home .landingStar .contactInfo {
    font-size: 4vw;
  }
  .home .landingStar .homeStarContainer .starGlow {
    opacity: 1;
  }
  .home .questionContainer {
    padding-top: 25vh;
    padding-bottom: 0;
  }
}

.starPage {
  width: 100vw;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
  background-size: 100%;
}

.starPage .starBackground {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  opacity: 0;
  -webkit-transition: opacity 2s linear;
  transition: opacity 2s linear;
}

.starPage .starBackground .parallaxBackground {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
}

.starPage .starBackground .parallaxBackground .pageLogo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.starPage .showStars {
  opacity: 1;
}

.production {
  background-color: black;
  color: white;
}

.production .starBackground {
  background-image: url("images/whiteConst.png"), radial-gradient(circle, #2E3143 0%, black 100%);
}

.production .starBackground .parallaxBackground {
  background-image: url("images/whiteBackgroundStars.png");
}

.production .starBackground .parallaxBackground .logo {
  width: 230px;
}

.production .starBackground .parallaxBackground .progressMarker {
  border: 10px solid white;
}

.production .starBackground .parallaxBackground .progress {
  border: 4px solid white;
}

.musicStarWhite1 {
  top: 41vh;
  left: 7vw;
}

.musicStarWhite2 {
  top: 16vh;
  left: 55vw;
}

.musicStarWhite3 {
  top: 51vh;
  left: 29vw;
}

.musicStarWhite4 {
  top: 76vh;
  left: 78vw;
}

.musicStarWhite5 {
  top: 32vh;
  left: 76vw;
}

.musicStarWhite6 {
  top: 75vh;
  left: 22vw;
}

.musicStarWhite7 {
  top: 44vh;
  left: 61vw;
}

.musicStarWhite8 {
  top: 83vh;
  left: 53vw;
}

.musicStarWhite9 {
  top: 22vh;
  left: 24vw;
}

.composition {
  background-color: white;
  color: black;
}

.composition .starBackground {
  background-image: url("images/blackConst.png"), radial-gradient(circle, #B5BADC 0%, white 100%);
}

.composition .starBackground .parallaxBackground {
  background-image: url("images/blackBackgroundStars.png");
}

.composition .starBackground .parallaxBackground .logo {
  width: 240px;
}

.composition .starBackground .parallaxBackground .progressMarker {
  border: 10px solid black;
}

.composition .starBackground .parallaxBackground .progress {
  border: 4px solid black;
}

.musicStarBlack1 {
  top: 20vh;
  left: 214vw;
}

.musicStarBlack2 {
  top: 14vh;
  left: 289vw;
}

.musicStarBlack3 {
  top: 48vh;
  left: 218vw;
}

.musicStarBlack4 {
  top: 79vh;
  left: 263vw;
}

.musicStarBlack5 {
  top: 52vh;
  left: 281vw;
}

.musicStarBlack6 {
  top: 84vh;
  left: 214vw;
}

.musicStarBlack7 {
  top: 46vh;
  left: 263vw;
}

.musicStarBlack8 {
  top: 65vh;
  left: 256vw;
}

.musicStarBlack9 {
  top: 27vh;
  left: 235vw;
}

.musicStarBlack10 {
  top: 19vh;
  left: 265vw;
}

.musicStarBlack11 {
  top: 90vh;
  left: 274vw;
}

.musicStarBlack12 {
  top: 57vh;
  left: 203vw;
}

.musicStarBlack13 {
  top: 65vh;
  left: 227vw;
}

@media (max-width: 1250px) {
  .musicStarWhite1 {
    top: 40vh;
    left: 10vw;
  }
  .musicStarWhite2 {
    top: 16vh;
    left: 55vw;
  }
  .musicStarWhite3 {
    top: 58vh;
    left: 27vw;
  }
  .musicStarWhite4 {
    top: 70vh;
    left: 77vw;
  }
  .musicStarWhite5 {
    top: 31vh;
    left: 73vw;
  }
  .musicStarWhite6 {
    top: 77vh;
    left: 14vw;
  }
  .musicStarWhite7 {
    top: 56vh;
    left: 63vw;
  }
  .musicStarWhite8 {
    top: 83vh;
    left: 53vw;
  }
  .musicStarWhite9 {
    top: 22vh;
    left: 24vw;
  }
  .musicStarBlack1 {
    top: 20vh;
    left: 220vw;
  }
  .musicStarBlack2 {
    top: 14vh;
    left: 280vw;
  }
  .musicStarBlack3 {
    top: 53vh;
    left: 223vw;
  }
  .musicStarBlack4 {
    top: 81vh;
    left: 252vw;
  }
  .musicStarBlack5 {
    top: 34vh;
    left: 280vw;
  }
  .musicStarBlack6 {
    top: 70vh;
    left: 218vw;
  }
  .musicStarBlack7 {
    top: 46vh;
    left: 269vw;
  }
  .musicStarBlack8 {
    top: 63vh;
    left: 259vw;
  }
  .musicStarBlack9 {
    top: 22vh;
    left: 240vw;
  }
  .musicStarBlack10 {
    top: 19vh;
    left: 265vw;
  }
  .musicStarBlack11 {
    top: 77vh;
    left: 272vw;
  }
  .musicStarBlack12 {
    top: 37vh;
    left: 210vw;
  }
  .musicStarBlack13 {
    top: 85vh;
    left: 236vw;
  }
}

@media (max-width: 550px) {
  .production .starBackground .parallaxBackground .pageLogo .logo {
    width: 35vw;
  }
  .composition .starBackground .parallaxBackground .pageLogo .logo {
    width: 39vw;
  }
  .musicStarWhite1 {
    top: 26vh;
    left: 8vw;
  }
  .musicStarWhite2 {
    top: 10vh;
    left: 67vw;
  }
  .musicStarWhite3 {
    top: 62vh;
    left: 28vw;
  }
  .musicStarWhite4 {
    top: 67vh;
    left: 66vw;
  }
  .musicStarWhite5 {
    top: 30vh;
    left: 62vw;
  }
  .musicStarWhite6 {
    top: 74vh;
    left: 10vw;
  }
  .musicStarWhite7 {
    top: 21vh;
    left: 48vw;
  }
  .musicStarWhite8 {
    top: 79vh;
    left: 49vw;
  }
  .musicStarWhite9 {
    top: 13vh;
    left: 20vw;
  }
  .musicStarBlack1 {
    top: 12vh;
    left: 205vw;
  }
  .musicStarBlack2 {
    top: 7vh;
    left: 258vw;
  }
  .musicStarBlack3 {
    top: 37vh;
    left: 206vw;
  }
  .musicStarBlack4 {
    top: 76vh;
    left: 273vw;
  }
  .musicStarBlack5 {
    top: 40vh;
    left: 273vw;
  }
  .musicStarBlack6 {
    top: 66vh;
    left: 232vw;
  }
  .musicStarBlack7 {
    top: 27vh;
    left: 262vw;
  }
  .musicStarBlack8 {
    top: 63vh;
    left: 260vw;
  }
  .musicStarBlack9 {
    top: 24vh;
    left: 218vw;
  }
  .musicStarBlack10 {
    top: 17vh;
    left: 241vw;
  }
  .musicStarBlack11 {
    top: 79vh;
    left: 246vw;
  }
  .musicStarBlack12 {
    top: 58vh;
    left: 212vw;
  }
  .musicStarBlack13 {
    top: 80vh;
    left: 207vw;
  }
}

.navbar {
  -webkit-transition: color 1s;
  transition: color 1s;
  color: white;
  gap: 65px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.navbar .shadow {
  -webkit-transition: letter-spacing 0.4s linear;
  transition: letter-spacing 0.4s linear;
  color: #b7b7b7;
}

.navbar .smallNav {
  cursor: pointer;
  font-size: 30px;
  line-height: 130px;
  height: 130px;
  width: 212px;
}

.navbar .smallNav:hover .shadow {
  letter-spacing: 0.8px;
}

.navbar .smallNav .active {
  letter-spacing: 0.8px;
}

.navbar .smallNav .text {
  top: -100%;
  position: relative;
}

.navbar .bigNav {
  cursor: pointer;
  font-size: 94px;
  height: 118px;
  width: 435px;
}

.navbar .bigNav:hover .shadow {
  letter-spacing: 2px;
}

.navbar .bigNav .active {
  letter-spacing: 2px;
}

.navbar .bigNav .text {
  top: -118px;
  position: relative;
}

@media (max-width: 1000px) {
  .navbar {
    gap: 4vw;
  }
  .navbar .smallNav {
    font-size: 3vw;
    line-height: 12vw;
    height: 12vw;
    width: 22vw;
  }
  .navbar .bigNav {
    font-size: 9vw;
    height: 12vh;
    width: 42vw;
  }
  .navbar .bigNav:hover .shadow {
    letter-spacing: .2vw;
  }
  .navbar .bigNav .active {
    letter-spacing: .2vw;
  }
  .navbar .bigNav .text {
    top: -11.3vw;
  }
}

@media (max-width: 800px) {
  .navbar {
    gap: 0vw;
  }
  .navbar .bigNav {
    height: 0;
  }
  .navbar .smallNav {
    font-size: 3.75vw;
    line-height: 12vw;
    width: 28vw;
  }
  .navbar .smallNav:hover .shadow {
    letter-spacing: .1vw;
  }
  .navbar .smallNav .active {
    letter-spacing: .1vw;
  }
}

.musicStars {
  height: 0;
}

.musicStars .musicStar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
}

.musicStars .musicStar .glowContainer {
  display: inline-block;
  width: 45px;
  height: 45px;
  text-align: center;
}

.musicStars .musicStar .glowContainer .musicStarImage {
  height: 45px;
}

.musicStars .musicStar .glowContainer .starGlow {
  background-position: center;
  position: relative;
  background-size: 130%;
  width: 137%;
  height: 137%;
  top: -56px;
  left: -9px;
}

.musicStars .musicStar .progressBar {
  display: inline-block;
  width: 120px;
}

.musicStars .musicStar .progressBar .progressMarker {
  width: 0;
  height: 0;
  border-radius: 50%;
  position: relative;
  top: -9.8px;
  left: -9px;
}

.musicStars .musicStar .progressBar .progress {
  width: 100%;
  height: 0px;
  -webkit-transition: width linear;
  transition: width linear;
  border-radius: 4px;
  position: relative;
  top: -2px;
}

.musicStars .musicStar .progressBar .title {
  top: 10px;
  position: relative;
}

@media (max-width: 450px) {
  .musicStars .musicStar {
    width: 45px;
  }
  .musicStars .musicStar .progressBar {
    width: 75px;
    position: relative;
    top: 25px;
    left: -59px;
  }
  .musicStars .musicStar .progressBar .progressMarker {
    top: -7.5px;
    border-width: 7px;
  }
  .musicStars .musicStar .progressBar .progress {
    border-radius: 4px;
    border-width: 2px;
    top: 21px;
  }
  .musicStars .musicStar .progressBar .title {
    top: -12px;
  }
  .musicStars .musicStar .glowContainer {
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
  }
  .musicStars .musicStar .glowContainer .musicStarImage {
    height: 34px;
  }
  .musicStars .musicStar .glowContainer .starGlow {
    background-position: center;
    position: relative;
    background-size: 130%;
    width: 120%;
    height: 120%;
    top: -46.5px;
    left: -5px;
  }
}
/*# sourceMappingURL=styles.css.map */